@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-family: "Arial, Helvetica, sans-serif";
  color: #333;
  font-size: 1.2rem;
  min-height: 100vh;
  position: relative;
}

a {
  color: #333;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

.content {
  padding-top: 120px;
  padding-bottom: 160px;
}

h1 {
  font: size 10px;
  font-weight: bold;
}

h2 {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 30px;
}

#header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
}

#navi {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  color: #fff;
  padding: 36px 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
}

#navi a {
  color: #fff;
}

#navi li {
  margin-bottom: 14px;
}

.open #navi {
  left: 0;
  opacity: 1;
}

.toggle_btn {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}

.toggle_btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.toggle_btn span .open {
  background-color: #fff;
}

.toggle_btn span:nth-child(1) {
  top: 10px;
}

.toggle_btn span:nth-child(2) {
  bottom: 10px;
}

.open .toggle_btn span:nth-child(1) .open {
  -webkit-transform: translateY(4px) rotate(-45deg);
  transform: translateY(4px) rotate(-45deg);
}

.open .toggle_btn span:nth-child(1) span:nth-child(2) {
  bottom: 10px;
}

#mask {
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}

.open #navi {
  left: 0;
  opacity: 1;
}

.toggle_btn {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
}

/*
ハンバーガーメニューの線の設定（メニューが閉じている時）
*/
.toggle_btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*
1本目の線の位置を設定
*/
.toggle_btn span:nth-child(1) {
  top: 10px;
}

/*
2本目の線の位置を設定
*/
.toggle_btn span:nth-child(2) {
  bottom: 10px;
}

/*
ハンバーガーメニューの線の設定（メニューが開いている時）
線の色を白に変更
*/
.open .toggle_btn span {
  background-color: #fff;
}

/*
1本目の線を-45度回転
*/
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(4px) rotate(-45deg);
  transform: translateY(4px) rotate(-45deg);
}

/*
2本目の線を45度回転
*/
.open .toggle_btn span:nth-child(2) {
  -webkit-transform: translateY(-4px) rotate(45deg);
  transform: translateY(-4px) rotate(45deg);
}

#mask {
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*
メニューを開いている時は、全体を黒背景にする
*/
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}

#top {
  padding-top: 80px;
  padding-bottom: 160px;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-list li {
  width: 23%;
  margin-bottom: 40px;
}

.product-list img {
  margin-bottom: 10px;
  vertical-align: top;
}

.link-text {
  display: block;
  text-align: center;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

#footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer li {
  margin-right: 30px;
}

#footer li:last-child {
  margin-left: 0;
}

#footer .copyright {
  font-size: 1rem;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination li {
  padding: 0 20px;
}

#item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  max-width: 800px;
}

.item {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.item_pic {
  width: 50%;
}

.item_text {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 42%;
}

.item_text p {
  text-align: justify;
  margin-bottom: 30px;
}

.item_text dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item_text dt {
  width: 30%;
}

.item_text dd {
  width: 70%;
}

.item_text p {
  text-align: justify;
  margin-bottom: 30px;
}

#about {
  max-width: 600px;
}

#about p {
  margin-bottom: 30px;
  line-height: 1.9;
}

@media screen and (max-width: 900px) {
  .product-list li {
    width: 47%;
  }
  #item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #item .item_text {
    width: 100%;
  }
  #item .item_pic {
    width: 100%;
    margin-bottom: 30px;
  }
  #company {
    max-width: 600px;
  }
  #company dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 60px;
  }
  #company dt {
    width: 20%;
    line-height: 50px;
    border-bottom: solid 1px #333;
  }
  #company dt:last-of-type {
    border-bottom: none;
  }
  #company dd {
    width: 80%;
    line-height: 50px;
    border-bottom: solid 1px #333;
  }
  #company dd:last-of-type {
    border-bottom: none;
  }
  #footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer .menu {
    margin-bottom: 5px;
  }
}
/*# sourceMappingURL=style.css.map */